.footer {
	background-color: #9C69E2;
	padding: 50px 20px;
	.wrapper {
		display: flex;
		flex-wrap: wrap;
	}	
}

.footer__logo-link {
	margin-right: auto;
}

.footer__logo-img {
		rect {
			transition: fill .5s;
		}
	&:hover {
		rect {
			fill: #F063B8;
		}
	}
}

.footer__info-block {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.footer__info-link {
	font-weight: 500;
	font-size: 16px;
	line-height:  40px;
	color: #FFFFFF;
	transition: color .5s;
	&:hover {
		color: #F063B8;
	}
}

.footer__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__form-input {
	width: 100%;
	max-width: 250px;
	padding: 15px;
	background: #FFFFFF;
	border-radius: 4px;
	border: none;
	color: #000;
	font-size: 16px;
	margin-bottom: 20px;
	@include placeholder {
		color: #A9A0B6;
	}
	&:focus {
		@include placeholder {
			font-size: 0;
		}
	}
	&:active {
		@include placeholder {	
			font-size: 0;
		}
	}
}


.footer__form-btn {
	display: flex;
	margin: 0 auto;
	padding: 15px 30px;
	border: none;
	border-radius: 50px;
	background-color: #EEAA12;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}

 @media(min-width: $tablet) {
 	.footer{ 
		padding:  50px 25px;		
 	}
	
	.footer__logo-link,
	.footer__info-block {
		width: 16%;
	}
	.footer__logo-link {
		margin: 0;
	}
	.footer__info-block {
		margin-right: auto;
		margin-bottom: 0;
	}
	
	.footer__form {
		width: 60%;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-end;
	}
	.footer__form-input {
		margin-bottom: 0;
		margin-right: 30px;
	}

	.footer__form-btn {
		margin: 0;
	}
	

 }

 @media(min-width: $mid) {
 	.footer {
 		padding: 50px 30px;
 	}
 }


 @media(min-width: $desktop) {
 	.footer {
 		padding: 50px 0;
 	}

 	.footer__info-block {
 		flex-direction: row;
 	}
 	.footer__info-link {
 		margin-right: 30px;
 		&:last-of-type {
 			margin-right: 0;
 		}
 	}
 }